@import "globals";

body {
    margin: 1rem;
}
#list {
    display: flex;
    flex-direction: column;
    header {
        padding: .5em;
        border: 1px solid #000;
        background-color: rgba($color: #000000, $alpha: 0.1);
        span, a {
            padding-right: .5em;
            padding-left: .5em;
            border-right: 1px #000 solid;
        }
        a, a:active, a:visited {
            background-color: #44AA44;
            border-radius: 7%;
            text-decoration: none;
            color: #fff;
            &:hover {
                background-color: #44ff44;
            }
            &.data {
                background-color: #aa4444;
                &:hover {
                    background-color: #ff4444;
                }
            }
        }
    }
}